.btn {
  background-color: rgb(245, 245, 245);
  display: block;
  padding: 5px;
  width: 100%;
  color: black;
  text-decoration: none;
  border: rgb(41, 41, 41) solid 1px;
  border-radius: 3px;
  font-family: Arial;
}

.linkBtn {
  color: white;
  text-decoration: none;
}
